.items {
  text-decoration: none;
  font-family: "Times New Roman", serif;
  font-size: 25px;
  font-weight: bolder;
  color: #0502a6;
}
.description {
  text-decoration: none;
  font-family: "Times New Roman", serif;
  font-size: 17px;
  font-weight: lighter;
  color: #450000;
}
